/* Colores base */
:root {
    --primary: #c75427;
    --secondary: #e0b392;
    --accent: #cc8d5a;
    --background: #ffe5b4;
    --highlight: #bb7013;
    --dark: #98451b;
    --text: #3e4233;
}
.Usu{
    margin-bottom: 30px;
}
li{
    margin-bottom: 10px;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
}

#mycontainer {
    background-color: #c75427 !important;
    border-radius: 10px !important;
    padding: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    margin: 20px auto !important;
    max-width: 80% !important;
    background-image: url('../IMAGENES/fondo.png') !important;
    background-size: cover !important;
    background-position: center !important;
}
@font-face {
    font-family: 'FUENTE1';
    src: url('../FUENTES/Simply\ Rounded\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'FUENTE2';
    src: url('../FUENTES/Heavitas.ttf') format('truetype');
}

body {
    background-image: url("../IMAGENES/Untitled\ Project\ \(1\).jpg");
    background-color: #d8c2aa;
    background-repeat: no-repeat;
    background-size: cover;
}

header {
    background-image: url(../IMAGENES/header.png);
    background-repeat: repeat;
    background-size: contain;
    padding: 20px 0;
    text-align: center;
}

h1 {
    font-family: 'FUENTE1', sans-serif;
}

h2 {
    color: #995535;
}

.colornav, .colorfooter {
    background-color: #995535;
}

#interfaz-container > h2 {
    text-align: center;
}
#main-container {
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

#interfaz-container{
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

#main-container > div > div {
    margin-left: 28px;
}

#main-container > div > div > p {
    margin-top: -15px;
    margin-left: 28px;
}
.section-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 20px;
}

.section-content {
    margin-bottom: 20px;
}

nav > div > img {
    margin-left: 20px;
    height: auto;
    width: 50px;
}

nav > div > a {
    font-family: 'FUENTE2', sans-serif;
}

.navbar-brand {
    margin-left: 0px;
    font-family:FUENTE2;
    font-weight: 700;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

body > div > div:nth-child(2) {
    margin-top: 20px;
    border-color: #98451b;
}

.creadores-box {
    background-color: var(--secondary);
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.creadores-box img {
    width: 100%;
    max-width: 300px; /* Imagen más grande */
    height: auto;
    display: block;
    width: 70%;
    margin: 0 auto; /* Centra la imagen */
}

.card {
    transition: transform 0.3s ease;
    cursor: pointer;
}
  
.card:hover {
    transform: scale(1.025);
}
  

