/* Colores base */
:root {
    --primary: #c75427;
    --secondary: #e0b392;
    --accent: #cc8d5a;
    --background: #ffe5b4;
    --highlight: #bb7013;
    --dark: #98451b;
    --text: #3e4233;
}

/* Tipografías */
@font-face {
    font-family: 'FUENTE1';
    src: url('../FUENTES/Simply\ Rounded\ Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'FUENTE2';
    src: url('../FUENTES/Heavitas.ttf') format('truetype');
}

/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background);
    color: var(--text);
    line-height: 1.6;
    background-image: url("../IMAGENES/Untitled\ Project\ \(1\).jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

h1 {
    font-family: 'FUENTE1', sans-serif;
}

h2 {
    color: #995535;
}

p {
    margin-left: 12px;
}

li {
    margin-left: 12px;
    margin-bottom: 10px;
}

hr {
    background-color: #cc8d5a;
    margin-top: 40px;
    margin-left: 20%;
    margin-right: 20%;
    height: 3px;
    border: none;
    opacity: 1;
}

img {
    width: 15px;
    height: 15px;
}

a {
    text-decoration: none;
}

ul {
    padding-left: 0;
    list-style: none;
}

.dropdown-divider {
    border-top: 1px solid rgb(207, 207, 207);
}

/* Contenedores */
#mycontainer {
    background-color: #c75427 !important;
    border-radius: 10px !important;
    padding: 20px !important;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1) !important;
    margin: 20px auto !important;
    max-width: 80% !important;
    background-image: url('../IMAGENES/fondo.png') !important;
    background-size: cover !important;
    background-position: center !important;
}

#main-container {
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

#interfaz-container {
    background-color: white;
    padding: 30px;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
}

#main-container > div > div {
    margin-left: 28px;
}

#main-container > div > div > p {
    margin-top: -15px;
    margin-left: 28px;
}

#interfaz-container > h2 {
    text-align: center;
    margin-top: 65px;
    margin-bottom: 30px;
}

.creadores-box {
    background-color: var(--secondary);
    border: 2px solid var(--dark);
    border-radius: 10px;
    padding: 20px;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.creadores-box img {
    width: 100%;
    max-width: 300px;
    height: auto;
    display: block;
    width: 70%;
    margin: 0 auto;
}

.info {
    width: 50%;
    margin-inline: auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.info img {
    width: 200px;
    height: 200px;
}

.info div {
    width: 30%;
    height: 4px;
    background-color: blue;
}

/* Tarjetas */
#interfaz-container > div > div > .card {
    transition: transform 0.3s ease;
    cursor: pointer;
    border: 1px solid #3e4233;
}

#interfaz-container > div > div > .card:hover {
    transform: scale(1.025);
}

.card-title {
    color: #3e4233;
    text-align: center;
}

.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

/* Header */
header {
    background-image: url(../IMAGENES/header.png);
    background-repeat: repeat;
    background-size: contain;
    padding: 20px 0;
    text-align: center;
}

/* Navbar */
.navbar-toggler-icon {
    color: white;
}

.navbar-brand {
    margin-left: 0px;
    font-family: 'FUENTE2';
    font-weight: 700;
}

nav > div > img {
    margin-left: 20px;
    height: auto;
    width: 50px;
}

nav > div > a {
    font-family: 'FUENTE2', sans-serif;
}

.colornav, .colorfooter {
    background-color: #995535;
}

/* Clases adicionales */
.Usu {
    margin-bottom: 30px;
}

.naranjita {
    color: #98451b;
}
